body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #333; /* Color de fondo del menú */
    padding: 10px; /* Espaciado interno */
}

.menu ul {
    list-style: none; /* Quita los puntos de lista */
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline; /* Muestra los elementos de menú en línea */
    margin-right: 20px; /* Espaciado entre elementos del menú */
}

.menu ul li a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para el contenido */
.content {
    margin: 20px; /* Márgenes alrededor del contenido */
    padding: 20px; /* Espaciado interno del contenido */
    background-color: #fff; /* Color de fondo del contenido */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}